<div class= "w-100 d-flex flex-column justify-content-center align-items-center" >
  <h2>Add Transa</h2>
  <%= form_for(@entity, :url => group_entities_path, :html => { :method => :post }) do |f| %>

   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

   <div class="field">
      <%= f.label :amount, class:"form-label" %>
      <%= f.number_field :amount, class:"form-control" %>
    </div>
  
  
    <div class="field mt-3 d-flex flex-column">
      <%= f.submit "Add New", class: "btn btn-lg btn btn-success green_button" %>
    </div>
    
  <% end %>
</div>
