<div class= "w-100 d-flex flex-column justify-content-center align-items-center" >
  <h2>Add Group</h2>
  <%= form_with(model: [@group], local: true) do |f| %>
   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div>
  <%= f.label :icon, 'Select Icon:', class: "field" %>
    <%= f.select :icon, ["ðŸ‘ž","ðŸ‘”","ðŸŽµ","ðŸŽ‰","ðŸŽ„","ðŸŽ","ðŸ¼","âœˆï¸", "ðŸŽ®", "ðŸ“š", "ðŸ¥", "ðŸˆ", "ðŸŽ¬", "ðŸ ", "ðŸ¶", "ðŸ»", "ðŸ”", "ðŸš—", "ðŸ–¥"], value: @group.icon, required: true %>
  </div>
  
    <div class="d-flex justify-content-between">
      <%= f.submit "Add Group", class: "btn btn-primary mt-3" %>
    </div>
    
  <% end %>
</div>
